# Directories
venv/
__pycache__/
*.pyc

# Environment variables (if you're using .env files)
.env

# Logs
*.log

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency directories
lib/
libs/
Library/
bin/
include/
share/
